[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
redis = "*"
python-dotenv = "*"
cryptography = "*"
bcrypt = "*"
flask-cors = "*"
flask-jwt-extended = "*"
werkzeug = "*"
gunicorn = "*"
psycopg2-binary = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
